html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;

    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #031605;
    line-height: 30px;
    font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

input,
textarea {
    padding: 0;
    display: block;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1950px;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.overflow {
    overflow: hidden;
}

.body {
    display: grid;
    height: 100vh;
    grid-template-areas:
        'header header'
        'navigation main'
        'navigation footer';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 50px;
}



/* ----- header ----- */


.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px 0 10px;
    grid-area: header;
    background-color: #16d492;
}

.header__btn {
    cursor: pointer;
}

.header__logo {}

.header__search {
    display: flex;
    margin-bottom: 5px;
}

.header__search-input {
    display: none;
}

.header__search-input .active {
    display: block;
}

.header__search-btn {
    cursor: pointer;
}

.btn {}

.logo {}



/* ----- navigation ----- */

.navigation {
    grid-area: navigation;
    background-color: #d7f9db;
    /* цвет для иконок в навигации #ae5ce6 */
}

.navigation__list {}

.navigation__item {}

 .navigation__item-button {
    font-size: 20px;
    transition: background-color 0.3s ease-in;
}
.navigation__item-button:hover {
    background-color: #9900ff3c;
}

.button-navigation {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
}

.button-navigation__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    height: 100%; 
}

.button-navigation__icon svg{
    transform: translate(0px, 4px);
}

.button-navigation__text {}

.button-navigation__count {
    padding: 0px 10px;
    margin-left: auto;
}



.navigation__item-button--to-do {}
  
.navigation__item-button--done {}

.navigation__item-button--trashed {}


.main {
    grid-area: main;
    background-color: #fafffb;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__btn {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #af5ce66f;
    border-radius: 50%;
    font-size: 103px;
    line-height: 0px;
    color: #af5ce66f;
    padding-bottom: 6px;
    cursor: pointer;
}

.main__btn:hover {
    color: #ae5ce6;
}

.main__btn:hover+.main__btn-over {
    animation: pulse 0.5s ease-out infinite;
}

.main__btn-over {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ae5ce6;
    animation: pulse 1s ease-out infinite;
}

@keyframes pulse {
    from {
        width: 100px;
        height: 100px;
        opacity: 1;
    }

    to {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}

.footer {
    grid-area: footer;
    background-color: #c3cfc5;
}

.footer__list-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.footer__btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.footer__btn img {
    transform: translateY(5px);
}

.footer__btn:hover {
    background-color: #9900ff3c;
}

.footer__btn-add-task {}